<!DOCTYPE html>
<html>
<head>
    <title>ByeCha</title>
    <link rel="stylesheet" href="{{ static_url("css/byecha.css") }}"/>
    <link rel="shortcut icon" id="_favicon" href="{{ static_url("images/favicon.ico") }}" type="image/vnd.microsoft.icon">
</head>
<body>
    <div class="container">
        <div class="head">
            <h1>ByeCha</h1>
        </div>
        <div class="flexbox">
            <div class="navbase">
                <h2>チャット一覧</h2>
                <div class="nav">
                    <ul>
{% for rid in room_list %}
    {% block room %}
        {% include "room.html" %}
    {% end %}
{% end %}
                    </ul>
                </div>
            </div>
            <div class="mainbase">
{% if room_id in room_list %}
                <h3>
    {% if 'n' in room_list[room_id] %}
                    {{ room_list[room_id]['n'] }}
    {% elif len(room_list[room_id]['m']) == 1 and myid in room_list[room_id]['m'].keys() %}
                    {{ contact_list[myid]['nm'] }}
    {% elif len(room_list[room_id]['m']) == 2 and myid in room_list[room_id]['m'].keys() %}
        {% set mem_ids = list(room_list[room_id]['m'].keys()) %}
        {% set tmp = mem_ids.remove(myid) %}
        {% set target_id = mem_ids[0] %}
                    {{ contact_list[target_id]['nm'] }}
    {% else %}
                    [UNKNOWN CHAT ROOM]
    {% end %}
                </h3>
{% end %}

                <div class="main">
{% block main %}
{% end %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
