{%extends "base.html" %}

{% block main %}

{% if not room_id or not chat_list %}

{% elif room_id in room_list %}
        <h2>
    {% if 'n' in room_list[room_id] %}
            {{ room_list[room_id]['n'] }}
    {% elif len(room_list[room_id]['m']) == 1 and myid in room_list[room_id]['m'].keys() %}
            {{ contact_list[myid]['nm'] }}
    {% elif len(room_list[room_id]['m']) == 2 and myid in room_list[room_id]['m'].keys() %}
        {% set mem_ids = list(room_list[room_id]['m'].keys()) %}
        {% set tmp = mem_ids.remove(myid) %}
        {% set target_id = mem_ids[0] %}
            {{ contact_list[target_id]['nm'] }}
    {% else %}
            [UNKNOWN CHAT ROOM]
    {% end %}
        </h2>
        <ul>
    {% for chat in chat_list %}
        {% block chat %}
            {% include "chat.html" %}
        {% end %}
    {% end %}
        </ul>
{% end %}

{% end %}
