            <li class="room">
                <a class="{{ 'roomlink_selected' if rid == room_id else 'roomlink' }}" href="/{{ '#' if rid == room_id else rid }}/">
{% if 'n' in room_list[rid] %}
    {% if room_list[rid]['ic'] and isinstance(room_list[rid]['ic'], str) %}
                    <img src="{{ static_url('images/icon/' + room_list[rid]['ic']) }}" width="36" height="36" />{{ room_list[rid]['n'] }}
    {% else %}
                    <img src="{{ static_url('images/icon/ico_meeting.png') }}" width="36" height="36" />{{ room_list[rid]['n'] }}
    {% end %}
{% elif len(room_list[rid]['m']) == 1 and myid in room_list[rid]['m'].keys() %}
                    <img src="{{ static_url('images/avatar/' + contact_list[myid]['av']) }}" width="36" height="36" />{{ contact_list[myid]['nm'] }}
{% elif len(room_list[rid]['m']) == 2 and myid in room_list[rid]['m'].keys() %}
    {% set mem_ids = list(room_list[rid]['m'].keys()) %}
    {% set tmp = mem_ids.remove(myid) %}
    {% set target_id = mem_ids[0] %}
                    <img src="{{ static_url('images/avatar/' + contact_list[target_id]['av']) }}" width="36" height="36" />{{ contact_list[target_id]['nm'] }}
{% else %}
                    [UNKNOWN CHAT ROOM]
{% end %}
                </a>
            </li>
