@charset "UTF-8";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%
}
body {
    background-color: #EAEBEC;
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%
}
h1 {
    display: none;
}

h2 {
    background-color: #DCDDDE;
    border-color: #B6B7B8;
    border-style: none none solid none;
    border-width: thin;
    color: #121110;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    margin: 0;
    text-decoration: none;
    text-indent: 1em;
}
.container{
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    border-color: #B6B7B8;
    border-style: none none solid none;
    border-width: thin;
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
}

.room {
    display: block;
    height: 48px;
    margin: 0;
    padding: 0;
}

.roomlink {
    background-color: #DCDDDE;
    color: #121110;
    display: block;
    font-size: 12px;
    height: 48px;
    text-decoration: none;
}

.roomlink:hover {
    background-color: #F9F8F7;
}

.roomlink_selected {
    background-color: #A6A7A8;
    color: #121110;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 48px;
    text-decoration: none;
}

.roomlink img {
    float: left;
    margin: 6px;
}
.roomlink_selected img {
    float: left;
    margin: 6px;
}

.chat {
    background-color: #EAEBEC;
}

.head {
    background-color: #353630;
    background-image: url("../images/byecha.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 190px 80px;
    height: 80px;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
}

.navbase {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    position: fixed;
    top: 80px;
    width: 300px;
    z-index: 3;
}
.nav {
    height: 100%;
    overflow-y: scroll;
    position: relative;
    width: 100%;
}
.mainbase {
    background-image: url("../images/stickies_1280.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 25% auto;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}

.main {
    overflow-x: auto;
    overflow-y: auto;
    padding-left: 300px;
    padding-top: 85px;
    z-index: 2;
}

p {
  display: block;
  font-size:100%;
  overflow: auto;
}
